.CircularProgressbar {
  width: 76px;
  height: 76px;
  margin-right: 26px;
}

.raport-nav__menu {
  //background-color: #2b2d3c;
  list-style: none;
  display: flex;
  margin-top: 43px;
  margin-bottom: 146px;
  margin-left: 108px;
}

.raport-nav__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.raport-nav__menu__item:not(:last-of-type) {
  margin-right: 83px;
}

.visitors h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.44px;
}

.visitors p {
  color: #9ca1b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

