.about {
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background-color: #2b2d3c;
  text-align: center;
  color: #ffffff;
  padding: 58px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  flex-basis: 15%;
}

h2, h3, h4, h5, p, span {
  margin: 0;
  padding: 0;
}

.user-data h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
  margin-top: 39px;
  margin-bottom: 8px;
}

.user-data h3 {
  color: #9ca1b2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.user-data p {
  color: #9ca1b2;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  margin-top: 8px;
  margin-bottom: 55px;
}

.user-contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-contacts__item {
  margin-bottom: 26px;
}

.user-contacts__item h4 {
  color: #9ca1b2;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.42px;
}

.user-contacts__item span {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.48px;
}

.user-photo {
  position: relative;
  z-index: 1;
  font-size: 124px;
  color: #24203d;
  &::after {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #2b2d3c;
    background-color: #4caf50;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-6px, 15px);
  }
}
