.chart-two {
  box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);
  background-color: #2f3242;
  position: relative;
  padding: 37px 34px;

}

.bar-chart {

}

.bar-chart .recharts-wrapper {
  margin: 0 auto;
}

.bar-chart .recharts-wrapper .recharts-surface {
 width: 100%;
}

.title-chart-two {
  width: 100%;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.line-wrapper {
  position: absolute;
  bottom: 22px;
  width: 100%;
  left: 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #9ea3b4;
  margin-bottom: 42px;
}
