.projects {
  width: 80%;
  margin: 24px auto;
  padding: 28px 0;
  border-radius: 5px;
  background-color: #3a3e52;
  border-left: 4px solid #e2e3e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.projects__item {
  width: 100%;
  text-align: center;
}
//
//.projects__item:nth-child(1),
//.projects__item:nth-child(3),
//.projects__item:nth-child(7){
//  margin-left: 50px;
//}
//
//.projects__item:nth-child(even) {
//  text-align: center;
//}

.progress,
.assigned {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progress > h4 {
  margin-right: 16px;
  width: 20%;
}

.progress:last-child > div {
  width: 80%;
  height: 8px;
  border-radius: 4px;
  background: #9ea3b4;
}

.progress > div > span {
  display: block;
  height: 100%;
  border-radius:4px;
  background-color: rgb(43,194,83);
}

.assigned i {
  font-size: 42px;
  margin-right: 25px;
  color: #9ea3b4;
}

.projects h4 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
}

.projects p {
  color: #9ea3b4;
  letter-spacing: 0.28px;
}

.ellipsis {
  color: #9ea3b4;
  cursor: pointer;
}
